gen/com/example/jinglequiz/R.java
gen/com/example/jinglequiz/R.java
bin/classes/com/example/jinglequiz/R$color.class
bin/classes/com/example/jinglequiz/R$dimen.class
bin/classes/com/example/jinglequiz/R$style.class
bin/classes/com/example/jinglequiz/R$string.class
bin/classes/com/example/jinglequiz/WelcomeScreen.class
bin/classes/com/example/jinglequiz/R$id.class
bin/classes/com/example/jinglequiz/R$layout.class
bin/classes/com/example/jinglequiz/R$menu.class
gen/com/example/jinglequiz/R.java
bin/classes/com/example/jinglequiz/R$id.class
