gen/com/example/jinglequiz/R.java
gen/com/example/jinglequiz/R.java
bin/classes/com/example/jinglequiz/R$color.class
bin/classes/com/example/jinglequiz/R$dimen.class
bin/classes/com/example/jinglequiz/R$style.class
bin/classes/com/example/jinglequiz/R$string.class
